:host {
  ion-list {
    background-color: var(--ion-color-primary);
  }
  ion-slides {
    height: 300px; /* Set the height of the carousel */
  }
  
  ion-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  ion-card img {
    max-width: 100px; /* Largeur maximale de 100px */
    max-height: 100px; /* Hauteur maximale de 100px */
    float: right; /* Alignement à droite */
  margin-left: 20px; 
  }
}
