<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="secondary">
      Home
    </ion-title>
    <ion-avatar slot="start">
      <img src="./assets/icon/LOGOPRO.PNG" alt="Logo">
    </ion-avatar>
    <ion-buttons slot="primary">
      <ion-button *ngIf="!isUserLoggedIn" color="secondary" routerLink="/signin">
        <ion-icon name="log-in-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isUserLoggedIn" color="secondary" routerLink="/settings">
        <ion-icon slot="icon-only" name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>


  <ion-card class="auto-group-1xea-hKc">
    <p class="lets-find-the-perfect-service-for-you-DKt ion-margin">Let’s find the perfect service for you : "Discover
      skilled freelancers tailored to your needs.
      Get your projects done efficiently with top talent. Find your match today!"</p>
    <ion-item class="rectangle-25-PLr">
      <!-- <img src="./assets/icon/group.png"> -->
      <img src="./assets/icon/logo-1-Lcn.png" class="logo-1-kce">
      <img src="./assets/icon/vector-FMG.png" class="vector-ft2">
    </ion-item>
  </ion-card>


  <div class="ion-padding">
    <ion-list-header>
      <ion-label color="tertiary"> Recently visited by you</ion-label>
    </ion-list-header>


    <ion-list class="item-card-list animate__animated animate__fadeIn" *ngIf="!content_loaded">
      <ion-item lines="none" color="primary" *ngFor="let i of [].constructor(3);">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
    <br><br>
    <ion-list class="item-card-list animate__animated animate__fadeIn" *ngIf="content_loaded" lines="none">
      <ion-item color="primary" button detail>
        <ion-label color="medium">
          <h3>Service A</h3>
          <p>Description du Service A</p>
        </ion-label>
      </ion-item>

      <ion-item color="primary" button detail>
        <ion-label color="medium">
          <h3>Service B</h3>
          <p>Description du Service B</p>
        </ion-label>
      </ion-item>

      <ion-item color="primary" button detail>
        <ion-label color="medium">
          <h3>Service C</h3>
          <p>Description du Service C</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <!-- <hr> -->
    <ion-list class="item-card-list animate__animated animate__fadeIn" *ngIf="content_loaded" lines="none">
      <ion-item color="primary" button detail>
        <ion-label color="medium">
          <h3>Service A</h3>
          <p>Description du Service A</p>
        </ion-label>
      </ion-item>

      <ion-item color="primary" button detail>
        <ion-label color="medium">
          <h3>Service B</h3>
          <p>Description du Service B</p>
        </ion-label>
      </ion-item>

      <ion-item color="primary" button detail>
        <ion-label color="medium">
          <h3>Service C</h3>
          <p>Description du Service C</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <div class="services-carousel">
      <ion-label color="tertiary">Latest News</ion-label>

      <div class="service-slide" *ngFor="let service of services">
        <ion-card>
          <ion-card-header>
            {{ service.name }}
          </ion-card-header>
          <img [src]="service.image" alt="{{ service.name }} Image">

          <ion-card-content>
            <p> Description {{service.description}}</p>
            <p>Date: {{ service.date }}</p>
            <p>Price: {{ service.price }}</p>
          </ion-card-content>
        </ion-card>
      </div>
      <ion-button expand="block" color="primary">View All</ion-button>
    </div>


    <!-- <ion-list class="list-custom animate__animated animate__fadeIn" lines="full" >
      <ion-item color="primary" *ngFor="let i of [].constructor(3);">
        <ion-label color="medium">
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-skeleton-text slot="end" animated style="width: 10%"></ion-skeleton-text>
      </ion-item>
    </ion-list> -->

    <!-- <ion-list class="list-custom animate__animated animate__fadeIn" lines="full" *ngIf="content_loaded">
      <ion-item color="primary" button detail="false">
        <ion-avatar slot="start" class="ion-avatar-default-icon">
          <ion-icon color="tertiary" size="large" name="logo-angular"></ion-icon>
        </ion-avatar>  -->

    <!-- <ion-label>
      <h3>Angular</h3>
      <p>Lorem Ipsum &middot; 09.04.2023</p>
    </ion-label>
    <ion-badge color="danger" slot="end">- $7.50</ion-badge>
  </ion-item>

  <ion-item color="primary" button detail="false">
    <ion-avatar slot="start" class="ion-avatar-default-icon">
      <ion-icon color="tertiary" size="large" name="code-working-outline"></ion-icon>
    </ion-avatar>

    <ion-label>
      <h3>Graphic Designer </h3>
      <p>Lorem Ipsum Inc. &middot; 06.03.2023</p>
    </ion-label>
    <ion-badge color="secondary" slot="end">$7500</ion-badge>
  </ion-item>

  <ion-item color="primary" button detail="false">
    <ion-avatar slot="start" class="ion-avatar-default-icon">
      <ion-icon color="tertiary" size="large" name="logo-python"></ion-icon>
    </ion-avatar>

    <ion-label>
      <h3>Python Programmer</h3>
      <p>Lorem Inc. &middot; 03.02.2023</p>
    </ion-label>
    <ion-badge color="danger" mode="ios" slot="end">- $1800.00</ion-badge>
  </ion-item>

  <ion-item color="primary" button detail="false">
    <ion-avatar slot="start" class="ion-avatar-default-icon">
      <ion-icon color="tertiary" size="large" name="logo-html5"></ion-icon>
    </ion-avatar>

    <ion-label>
      <h3>HTML Programmer</h3>
      <p>Lorem Inc. &middot; 03.02.2023</p>
    </ion-label>
    <ion-badge color="danger" mode="ios" slot="end">- $1800.00</ion-badge>
  </ion-item>

</ion-list> -->

    <!-- </ion-item>
    </ion-list>
    </div>
    </ion-content> -->
