<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="light">
      Become a Freelance Seller
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="secondary" routerLink="/settings">
        <ion-icon slot="icon-only" name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Become a Seller</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <ion-card color="primary" class="ion-no-margin ion-card-chart animate__animated animate__fadeIn">
      <!-- Form -->
      <form (submit)="submitForm()">
        <ion-item>
          <ion-label position="floating">Service</ion-label>
          <ion-input type="text" [(ngModel)]="skills" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">description</ion-label>
          <ion-input type="text" [(ngModel)]="description" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">price</ion-label>
          <ion-input type="text" [(ngModel)]="price" required></ion-input>
        </ion-item>
        
        <ion-button type="submit" expand="full" color="secondary">add service</ion-button>
      </form>
    </ion-card>
    <ion-list>
      <ion-item   *ngFor="let service of services; let i = index">
          <ion-label>
              <h2>{{ service.skills }}</h2>
              
              <p>{{ service.description }}</p>
              <p>{{ service.price }}</p>
          </ion-label>
          <ion-buttons slot="end">
              <ion-button (click)="editService(i)">Edit</ion-button>
              <ion-button (click)="deleteService(i)">Delete</ion-button>
          </ion-buttons>
      </ion-item>
  </ion-list>
  
  </div>

</ion-content>
