:host {
  // body {
  //   background-color: var(--ion-color-dark);
  // }

  ion-content {

  }

  ion-list {
    border-radius: 8px;
    margin-bottom: 8px;
  }

  ion-label {
    font-size: 16px;
    font-weight: 700;
  }

  ion-button {
    margin-top: 20px;


  }


  ion-select {
    --padding-start: 0;
    --padding-end: 0;
    color: #ffffff;

    &::placeholder {
      color: #ffffff;
    }
  }
  .filter-panel {
    background-color: #f8f9fa; /* Couleur de fond */
    border: 1px solid #ddd; /* Bordure */
    border-radius: 8px; /* Coins arrondis */
    padding: 16px; /* Espacement intérieur */
    margin-bottom: 16px; /* Marge en bas */
    width: fit-content;
    height: fit-content;
  }


  .filter-col {
    display: flex;
    align-items: center; /* Align items vertically */
    // background-color: var(--ion-color-primary);
    // --background: linear-gradient(0deg, var(--ion-color-dark), var(--ion-color-primary));

  }

  .filter-label {
    // background-color: var(--ion-color-primary);
    --background: linear-gradient(0deg, var(--ion-color-dark), var(--ion-color-primary));
    margin-right: 5px; /* Adjust the spacing between the label and the select options */
    font-weight: bold; /* Texte en gras */
    margin-bottom: 8px; /* Marge en bas */
  }
  ion-card {
    margin: 20px;
    padding: 20px;
    background-color: #f2ebfb;
    border-radius: 10px;
    box-shadow: 0 2px 4px #f2ebfb(0, 0, 0, 0.1);
  }

  ion-card-header {
    background-color: #f2ebfb;
    color: #fff;
    text-align: center;
    border-radius: 10px 10px 0 0;
  }

  ion-card-content {
    text-align: center;
  }

  ion-button {
    margin-top: 20px;
  }


}
