<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="dark">
      Become a Freelance Seller
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="secondary" routerLink="/settings">
        <ion-icon slot="icon-only" name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button color="secondary" text="Back" defaultHref="/home">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar class="toolbar-search" (ionInput)="filterUsers()">
      <ion-searchbar color="dark" showCancelButton="focus" placeholder="Search for your Lancer by name !"
                     [(ngModel)]="searchQuery"></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  <div class="ion-padding">
    <ion-list *ngIf="filterUsers().length !== 0">
      <ion-item *ngFor="let user of filterUsers(); let i = index" (click)="consultLancer(user.lancer)">
        <ion-label>
          <h2>{{ user.profile.prenom }} {{ user.profile.nom }} (Score : {{ user.lancer.score }})</h2>
          <p>{{user.profile.email}}</p>
        </ion-label>
      </ion-item>


    </ion-list>

    <ion-card *ngIf="filterUsers().length === 0">
      <ion-card-header class="ion-text-center">
        <img src="./assets/icon/searchlancer.jpg" >
        <ion-card-title><h1>No Lancer found!</h1></ion-card-title>
        <ion-card-subtitle><h4>Oupsy! There is no Lancer found!</h4></ion-card-subtitle>
      </ion-card-header>

    </ion-card>
  </div>
</ion-content>
