<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button color="secondary" text="Settings" defaultHref="/settings">
      </ion-back-button>
    </ion-buttons>

    <ion-title color="light">
      Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="ion-padding">

    <ion-list-header class="ion-list-header-small">
      <ion-label>
        <ion-text color="tertiary">Privacy</ion-text>
      </ion-label>
    </ion-list-header>

    <ion-list class="list-custom" lines="full">
      <ion-item color="primary" detail="false">
        <ion-icon slot="start" color="medium" name="notifications"></ion-icon>
        <ion-label>
          <h3>Notifications</h3>
        </ion-label>
        <ion-toggle color="tertiary" checked slot="end"></ion-toggle>
      </ion-item>
    </ion-list>

    <p>
      <ion-text color="medium">We never display sensible data in your notifications.</ion-text>
    </p>

  </div>

</ion-content>
