

hr {
  height: 0.5% !important;
  width: 50% !important;
  background: var(--ion-item-background) !important;
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
}
