<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="secondary">
      Contracts
    </ion-title>
    <ion-avatar slot="start">
      <img src="./assets/icon/LOGOPRO.PNG" alt="Logo">
    </ion-avatar>
    <ion-buttons slot="primary">
      <ion-button color="secondary" routerLink="/settings">
        <ion-icon slot="icon-only" name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding" *ngIf="lancerContracts.length !== 0" >
    <h2>
      <h2>
        <ion-list-header>
          <ion-label color="tertiary"> <h1>Lancer Contracts this month</h1></ion-label>
          <ion-button color="medium" (click)="sellAllLancerContracts()" >See All <ion-icon slot="end" name="arrow-forward"></ion-icon>
          </ion-button>
        </ion-list-header>
      </h2>
    </h2>
    <hr class="hr-medium">
    <ion-card color="primary" (click)="consultContract(contract)" *ngFor="let contract of lancerContracts">
      <ion-card-header>
        <ion-card-title>{{contract.service.name}} ({{contract.etat}})</ion-card-title>
        <ion-card-subtitle>Contract Crée le : {{contract.dateDebut|date}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Prix : {{contract.prix}} TND
      </ion-card-content>
    </ion-card>
  </div>
  <div class="ion-padding" *ngIf="lancerContracts.length === 0">
    <div style="display: flex; justify-content: center;">
      <ion-button (click)="sellAllLancerContracts()">See all the Lancer Contracts</ion-button>
    </div>
  </div>

  <hr>

  <div class="ion-padding" *ngIf="buyerContracts.length !== 0" >
    <h2>
      <h2>
        <ion-list-header>
          <ion-label color="tertiary"> <h1>Buyer Contracts this month</h1></ion-label>
          <ion-button color="medium" (click)="sellAllBuyerContracts()" >See All <ion-icon slot="end" name="arrow-forward"></ion-icon>
          </ion-button>
        </ion-list-header>
      </h2>
    </h2>
    <hr class="hr-medium">
    <ion-card color="primary" (click)="consultContract(contract)" *ngFor="let contract of buyerContracts">
      <ion-card-header>
        <ion-card-title>{{contract.service.name}} ({{contract.etat}})</ion-card-title>
        <ion-card-subtitle>Contract Crée le : {{contract.dateDebut|date}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Prix : {{contract.prix}} TND
      </ion-card-content>
    </ion-card>
  </div>
  <div class="ion-padding" *ngIf="buyerContracts.length === 0">
    <div style="display: flex; justify-content: center;">
      <ion-button (click)="sellAllBuyerContracts()">See all the Buyer Contracts</ion-button>
    </div>
  </div>
</ion-content>
